@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{

  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.logo {
  background: linear-gradient(to bottom,#0891B2 ,#67E8F9);
  border-radius: 100%;
  margin: auto 0;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.brand{
  display: flex;;
}
.Navbar h1{
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: normal;
  /* grid-area: header; */
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #DB2777;
  border-radius: 25%;
  margin: 10px auto;
  line-height: 25px;
  color: #DB2777;
  font-weight: bold;
  font-size: 24px;
}

label:hover{
  background: linear-gradient(to right, #DB2777,#008aff);
  border: 2px solid transparent;
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: linear-gradient(to right, #DB2777,#008aff);
  opacity: 0.8;
  margin-top: 20px;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  height: 10px;
  padding: 20% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 1;
}
.img-wrap img{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  min-width: 50%;
  min-height: 85%;
  max-width: 50%;
  max-height: 85%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}

.Navbar{
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  background: linear-gradient(to right, #DB2777,#008aff);
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 10px;
  /* display: grid; */
  /* grid-area:
  'header header header header header header header header header switch';  */
}

.Switch{
  /* display: grid; */
  /* grid-area: switch; */
  /* position: fixed; */
  float: right;
  position: sticky;
  top: 17px;
  margin-block-start: -5em;
  /* margin-block-end: 1.37em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  z-index: 1;
}

::-webkit-scrollbar{
  width: 14px;
  /* background: rgba(0,0,0,0.05); */
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#30ff00);
  border-radius: 8px;
  animation: animate 5s linear infinite;
  filter: blur(30px);
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#00c6ff);
}
@keyframes animate
{
    0%,100%
    {
         filter: hue-rotate(0deg);
    }
    50%
    {
         filter: hue-rotate(360deg);
    }
  
}

.socials{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  grid-row-gap: 12px;
  transform: translateY(-192px);
  grid-template-columns: 1fr 10fr 1fr;
  grid-column-gap: 10px;
  /* margin-left: 52%;
  position: absolute;
  top: 0%; */
}
.socials button:focus{
  outline: none;
}
.socials .likeNum{
  transform: translateY(-5px);
  display: grid;
  grid-column-start: 2;
  /* display: flex; */
}
.icon-like{
  display: grid;
  grid-row-start: 1;
}
.icon-comment{
  display: grid;
  grid-row-start: 4;
}
.icon-share{
  display: grid;
  grid-row-start: 2;
}
.icon-save {
  display: grid;
  grid-row-start: 3;
}
.socials .boxx{
  padding: 0;
  background: transparent;
  display: grid;
  grid-column: 2;
  grid-row: 4;
  height: 1.1876em !important;
}
.socials .comment-box{
  height: 85px;
  overflow: hidden;
  display: block;
  padding: 3px;
  display: block;
  grid-column: 2;
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}
.socials .comment-list{
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.socials ul::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin: 0 1em;
}
.post-comment{
  display: grid;
  grid-column: 3;
  grid-row: 4;
  transform: translateY(-8px);
}
.socials form{
  display: contents;
}



/* @media screen and (max-width: 640px); */

